<img src = "/assets/img/pixel-burger.jpg" alt = "burger" class ="center">

<h1>Eat Da Burger!</h1>

<div class="row">
  <div class="column">
<h2>Burgers that are not devoured!</h2>
<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger/burger-block}}
    {{/unless}}
  {{/each}}
</ul>
  </div>
  <div class="column">
<h2>Burgers that are devoured!</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block}}
    {{/if}}
  {{/each}}
</ul>
  </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured!
  </div>



  <button type="submit">Add Burger</button>
</form>
