* {
    box-sizing: border-box;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1,
h2,
h3,
li,
button,
label {
    text-align: center;
    font-family: monospace;
}

#burgerBox {
    margin: auto;
    width: 60%;
    border: 3px;
    padding: 10px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

body {
    background-color: rgb(255, 175, 71);
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}